services:
  - type: web
    name: camerainstallationweb
    runtime: python3
    buildCommand: pip install -r requirements.txt && python manage.py collectstatic --noinput
    startCommand: gunicorn camerainstallationweb.wsgi:application --bind 0.0.0.0:$PORT
    envVars:
      - key: DEBUG
        value: False
      - key: SECRET_KEY
        generateValue: true
      - key: ALLOWED_HOSTS
        value: securty-systems.onrender.com,localhost,127.0.0.1